  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 25px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    font-size: 20;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    float: left;
  }
  .result_para_tag2
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    float: right;
  }
  .copy_right_footer
  {
    position: fixed;
    color: brown ;
    bottom: 0;
    width: 100%;
    background-color: limegreen;
    text-align: center;
    line-height: 5;
    font-weight: bold;
  }
  canvas
  {
    border: double red;
    border-radius: 30px;
  }